body {
  margin: 0;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
}

.links {
  list-style-type: none;
  display: flex;
  gap: 16px;
  font-size: 18px;
  color: #e5e7eb;
}

.header {
  background-color: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-section-1 {
  max-width: 300px;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.sign-up {
  padding: 5px 20px;
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  border: none;
}

.subtext {
  max-width: 400px;
  color: white;
  font-size: 18px;
  color: #e5e7eb;
}

img {
  max-width: 300px;
  padding: 10px;
}

.section-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 0 150px;
  height: 30vh;
}

.img-2 {
  width: 150px;
  height: 150px;
  border: blue solid 2px;
  border-radius: 12px;
}

.section-2 {
  display: flex;
  text-align: center;
  height: 30vh;
  justify-content: center;
  align-items: center;
  gap: 36px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  max-width: 200px;
  flex-direction: column;
  align-items: center;
}

.span-1 {
  display: block;
  max-width: 150px;
}

.header-section-2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  padding-top: 20px;
}

.section-3-quote {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  text-align: left;
}

.section-3 {
  height: 30vh;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 0 150px;
  justify-content: center;
}

.span-2 {
  font-weight: bold;
  text-align: end;
}

.section-4 {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.box {
  background-color: #3882f6;
  padding: 40px 120px;
  display: flex;
  align-items: center;
  gap: 100px;
  border-radius: 5px;
}

.section-4-header {
  font-weight: 900;
  font-size: 24px;
}

.sign-up-2 {
  padding: 5px 20px;
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  border: 2px solid white;
}

.footer {
  display: flex;
  height: 7vh;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: white;
}
