body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.links {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.header {
  background-color: hsla(229, 100%, 11%, 0.733);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-weight: bold;
  font-size: 23px;
}
